<!DOCTYPE html>
{% load static global_template %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            论坛
        {% endblock %}
    </title>
    {% block style %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
</head>
<body>
<nav class="navbar is-primary container mt-2" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                {% block navbar-start %}
                    <a class="navbar-item" href="/university/list/">
                        返回
                    </a>
                    <a class="navbar-item" href="/post/list/">
                        首页
                    </a>
                    {% get_category_list as categoty_list %}
                    {% for category in categoty_list %}
                        <a class="navbar-item" href="/post/category/{{ category.id }}/list/">
                            {{ category.name }}
                        </a>
                    {% endfor %}
                {% endblock %}
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/post/create/">
                    发布帖子
                </a>
            </div>
        </div>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                {% block section %}
                    {% if posts %}
                        {% for post in posts %}
                            <div class="box">
                                <h1 class="is-size-5 has-text-weight-bold">
                                    <a href="/post/{{ post.id }}/detail/">{{ post.title }}</a>
                                </h1>
                                <div class="is-size-7 has-text-grey-light pt-1 pb-1">
                                    <span class="mr-3">作者：{{ post.author.user_name }}</span>
                                    <span>发布日期：{{ post.create_time }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="box">
                            文章不存在！
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="column is-4">
                {% block right %}
                    {% get_sidebar_list as sidebar_list %}
                    {% for sidebar in sidebar_list %}
                        <div class="box">
                            <h1 class="is-size-5">{{ sidebar.title }}</h1>
                            <p>{{ sidebar.get_content }}</p>
                        </div>
                    {% endfor %}


                {% endblock %}
            </div>
        </div>

        {% block footer %}
            <footer class="footer container">
                <div class=" has-text-centered">
                    已经到论坛底部啦
                </div>
            </footer>
        {% endblock %}
    </div>
</section>

{% block js %}
{% endblock %}
</body>
</html>