{#{% extends 'layout.html' %}#}
{#{% load static %}#}
{##}
{#{% block css %}#}
{#    <link rel="stylesheet" href="{% static 'plugins/bootstrap-datepicker/css/bootstrap-datepicker.css' %}">#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#    <div class="container">#}
{#        <div class="panel panel-default">#}
{#            <div class="panel-heading">#}
{#                <h3 class="panel-title">新建用户</h3>#}
{#            </div>#}
{#            <div class="panel-body">#}
{#                <form method="post" action="" novalidate>#}
{#                    {% csrf_token %}#}
{##}
{#                    {% for field in form %}#}
{#                        <div class="form-group">#}
{#                            <label>{{ field.label }}</label>#}
{#                            {{ field }}#}
{#                            <span style="color: red">{{ field.errors.0 }}</span>#}
{#                        </div>#}
{#                    {% endfor %}#}
{##}
{#                    <button type="submit" class="btn btn-primary">提 交</button>#}
{#                </form>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{#{% block js %}#}
{#    <script src="{% static 'plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>#}
{#    <script src="{% static 'plugins/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js' %}"></script>#}
{#    <script>#}
{#        $(function () {#}
{#            $('#id_create_time').datepicker({#}
{#                format: 'yyyy-mm-dd',#}
{#                startDate: '0',#}
{#                language: "zh-CN",#}
{#                autoclose: true#}
{#            });#}
{##}
{#        })#}
{#    </script>#}
{#{% endblock %}#}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;

            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="account">
    <h2>用户注册</h2>
    <form action="/user/register/" method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label>{{ field.label }}</label>
                {{ field }}
                <span style="color: red">{{ field.errors.0 }}</span>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">提 交</button>
    </form>
</div>
</body>
</html>